<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculator</title>
 
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles.css') }}">
</head>

<body>
  <div class="calculator">
    <input class="calculator__output" name = "equation" id ="numero" value="{{result if result else 0}}" class="form-control" type="text" aria-label="Disabled input example"   readonly>

      <div class="calculator__keys" id = "button-container">
        <form id="calculator-form" method="post">
          <button name="operator" type = "button" value ="+" class="calculator__key calculator__key--operator" >
            +
          </button>
          <button name="operator" type="button" value ="-" class="calculator__key calculator__key--operator" >
            -
          </button>
          <button name="operator" type="button" value ="*" class="calculator__key calculator__key--operator"  >
            &times;
          </button>
          <button name="operator" type="button" value ="/" class="calculator__key calculator__key--operator" >
            &divide;
            </button>



            <button type="button" name="number" value="1" class="calculator__key"  >
            1
            </button>
            <button type="button" name="number" value="2" class="calculator__key"  >
            2
            </button>
            <button type="button" name="number" value="3"  class="calculator__key" >
            3
            </button>

            <button type="button" name="number" value="4" class="calculator__key" >
            4
            </button>
            <button type="button" name="number" value="5"  class="calculator__key" >
            5
            </button>
            <button type="button" name="number" value="6"  class="calculator__key" >
            6
            </button>

            <button type="button" name="number" value="7" class="calculator__key" >
            7
            </button>

            <button type="button" name="number" value="8" class="calculator__key" >
            8
            </button>

            <button type="button" value="9" name="number" class="calculator__key" >
            9
            </button>

            <button name="number" type="button" value="0" class="calculator__key"  >
              0
            </button>

            <button name="decimal" id="decimal" type="button" value = "." class="calculator__key"  >
            .
            </button>

            <button  type="button" id = 'backspace' class="calculator__key"  >
              &#x232B;
            </button>
            
            <button type="submit" class="calculator__key calculator__key--enter" >
            =
            </button>
        </form>
      </div>
  </div>
  <script src="{{url_for('static', filename='script.js')}}"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script> -->
</body>

</html>